
body{
    background-image: linear-gradient(rgb(96, 203, 215),rgb(109, 220, 18));
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1{
    margin-top: 12px;
    font-size: 30px;
    
    color: rgba(52, 18, 206, 0.788);
}

.logo {
    display: block;
    margin: auto;
    width: 80px;
    height: 75px;
}


.container {
    max-width: 955px;
    border: 4px solid rgba(199, 9, 9, 0.603);
    
    border-radius: 30px;
    margin: auto;
    width: 50%;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
}

.message {
    background-color: rgb(49, 14, 154); 
    width: 24%;
    padding: 10px;
    margin: 17px 2px;
    border: 2px solid rgb(22, 2, 52);
    border-radius: 10px;

    display: flex;
    height: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
     background-color: rgb(38, 198, 38); 
}
.joined{
  margin: auto;
  clear: both;
   background-color: rgb(212, 179, 15); 
}

.leftChat{
  margin: auto;
  clear: both;
   background-color: rgb(213, 18, 53); 
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 1031px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
}

#messageInp{
    width: 80%;
    border: 4px solid rgba(66, 4, 4, 0.788); 
    border-radius: 10px;
    height: 34px;
    font-size: 22px;

}

#userId{
  width: 20%;
  border: 4px solid rgba(66, 4, 4, 0.788);
  border-radius: 10px;
  height: 34px;
  font-size: 0.9em;
}

.btn{
    cursor: pointer;
    border: 3px solid rgba(66,4,4, 0.788);
    border-radius: 6px;
    height: 34px;
    text-align: center;
    width: 75px;
    margin-left: 10px;
    padding: 3px;
    background-color:white;
}

.btn:hover{
    background-color: rgb(8, 150, 8);
    border-color: azure;
}

  
  .message {
    display: flex;
    flex-direction: column;
  }
  
  .message-content {
    margin-bottom: 5px;
  }
  
  .message-time {
    font-size: 12px;
    color: #888;
  }

  .message-content {
    margin-bottom: 5px;
  }
  
  .message-time {
    font-size: 12px;
    color: #5f5f5f;
    margin-bottom: 5px;
  }
  
  .message-sender {
    font-size: 12px;
    color: #888;
  }
  #activeUsersContainer {
  width: 20%;
  margin: 2px;
  border: 4px solid rgba(124, 15,15, .603);
  border-radius: 13px;
  height: 65vh;
}
.activerUsername{
  padding: 1px;
}
  
.chatBody{
  display: flex;
  justify-content: center;
  align-items: center;
}
