
body{
    background-image: linear-gradient(#eecda3,#ef629f);
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h1{
    margin-top: 12px;
    font-size: 30px;
    
    color: rgba(52, 18, 206, 0.788);
}

.logo {
    display: block;
    margin: auto;
    width: 80px;
    height: 75px;
}


.container {
    border-radius: 30px;
    width: 50%;
    height: 100%;
    overflow-y: auto;
    margin-bottom: 23px;
}

.message {
    background-image: linear-gradient(#5b86e5, #36d1dc); 
    width: 24%;
    padding: 10px;
    margin: 17px 2px;
    border-radius: 1rem;
    display: flex;
    height: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
    padding: 2px 4px 2px 4px;
     background-image: linear-gradient(#ddd6f3, #faaca8);
     box-shadow: 3px #888;
}
.joined{
  margin: auto;
  clear: both;
   background-color: rgb(212, 179, 15); 
}

.leftChat{
  margin: auto;
  clear: both;
   background-image: linear-gradient(#fd5a39 , #e865a0); 
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
}

#messageInp{
    width: 100%;
    height: 34px;
    font-size: 22px;
}

#userId{
  width: 100%;
  border-radius: 10px;
  height: 34px;
  font-size: 0.9em;
}

.btn{
    cursor: pointer;
    border: 3px solid rgba(66,4,4, 0.788);
    border-radius: 6px;
    height: 34px;
    text-align: center;
    width: 75px;
    margin-left: 10px;
    padding: 3px;
    background-color:white;
}

.btn:hover{
    background-color: rgb(8, 150, 8);
    border-color: azure;
}

  
  .message {
    display: flex;
    flex-direction: column;
  }
  
  .message-content {
    margin-bottom: 5px;
  }
  
  .message-time {
    font-size: 12px;
    color: #888;
  }

  .message-content {
    margin-bottom: 5px;
  }
  
  .message-time {
    font-size: 12px;
    color: #5f5f5f;
    margin-bottom: 5px;
  }
  
  .message-sender {
    font-size: 12px;
    color: #888;
  }

.activerUsername{
  padding: 1px;
}
  
.chatBody{
  display: flex;
  justify-content: center;
  align-items: center;
}
